/* site wide font */
* {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;

}

/* h2 header styling */
h2 {
  text-align: center;
  font-weight: bold;
}

/* changes color of navbar */
.navbar {
  background-color: #221f1f !important;
  padding: 20px 0;
}

/* changes color of the body and text */
body {
  font-family: 'Quicksand', sans-serif;
 font-weight: 300;
  background-color: #242726;
  color: #FBF9F8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
 }

/* background image and accompanying text on index.html page */
.bimg{
  color: #FBF9F8;
  text-shadow: 10px 10px black;
  background-image: url("https://img.freepik.com/free-vector/blue-cyber-future-technology-concept-background_42077-488.jpg?size=626&ext=jpg");
  padding: 200px;
  text-align: center;
  font-weight: bold;
}

/* changes the color of unfocused links and the text in the footer */
footer, a {
  color: #FBF9F8;
}

/* positioning the icons on the about.html */
.icon-style {
  height: 50px;
  width: 50px;
  align-items: center;
}

/* positioning and styling of grids */
.col-md-3 {
  padding-top: 30px;
  padding-bottom: 10px;
}


/* positioning and styling of main grids on portfolio.html */
.portfolio {
  margin: 10px 30px;
  background-color: #2e3233;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}


/* positions the paragraph for proper positioning */
.p-position {
  margin-left: 50px;
  margin-top: 55px;
}

/* changes the size and position of the image on about.html */
.about-img {
  height: 250px;
  width: 220px;
  margin-top: 30px;
}

/* used to create a background/container for the about me content */
.about-me {
  background-color: #;
}

/* changes positioning of contact form on contact.html */
#contact-form {
  margin: 0 80px;
}

/* changes position of button on contact page */
.btn {
  margin: 0 auto;
}

/* changes position of footer */
footer {
  margin-top: 100px;
}

.port-img {
  padding-left: 30px;
  padding-top: 60px;
}



.name {
  font-family: 'Bangers', cursive;
  font-family: 'Krona One', sans-serif;
  font-family: 'Monoton', cursive;
  font-size: 48px;
  color: #3792cb !important;
  text-shadow: 10px 10px black;
  line-height: 72px;
}

.white {
  color: #fbf9f8;
  font-size: 36px;
}

.nav-link {
  font-weight: bold;
  font-size: 24px;
}

/* pseudo-classes */
.nav-link:hover {
  transform: scale(1.12);
  color: white;
}

/* makes empty divs, used for spacing, invisible */
.clear {
  opacity: 0%;
}


/* changes for hover over name/link in nav bar */
.name:hover {
  transform: scale(1.12);
  opacity: 60%;
}

/* changes for links in footer */
a:hover {
  color: #bada55;
}


/* responsive web design media queries */

@media only screen and (max-width: 600px) {
  .bimg {
    font-size: 12px;
  }
}
