/* site wide font */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;

}

/* h2 header styling */
h2 {
  text-align: center;
  font-weight: bold;
}

/* changes color of navbar */
.navbar {
  background-color: #0e2433 !important;
}

/* changes color of the body and text */
body {
  background-color: #0e2433;
  color: #f8f8ff;
}

/* background image and accompanying text on index.html page */
.bimg{
  color: #45b6fe;
  background-image: url("https://img.freepik.com/free-vector/blue-cyber-future-technology-concept-background_42077-488.jpg?size=626&ext=jpg");
  padding: 200px;
  text-align: center;
  font-weight: bold;
}

/* changes the color of unfocused links and the text in the footer */
footer, a {
  color: #45b6fe;
}

/* positioning the icons on the about.html */
.icon-style {
  height: 50px;
  width: 50px;
  align-items: center;
}

/* positioning and styling of grids */
.col-md-4 {
  margin: 30px 10px;
  align-items: center;
  background-color: #1c4966;
  padding: 16px 0;
}

/* positions the paragraph for proper positioning */
.p-position {
  margin-left: 50px;
  margin-top: 55px;
}

/* changes the size and position of the image on about.html */
.about-img {
  height: 250px;
  width: 220px;
  margin-top: 30px;
}

/* used to create a background/container for the about me content */
.about-me {
  background-color: #1c4966;
}

/* changes positioning of contact form on contact.html */
#contact-form {
  margin: 0 80px;
}

/* changes position of button on contact page */
.btn {
  margin-left: 500px;
}

/* changes position of footer */
footer {
  margin-top: 100px;
}

