
* {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

h1 {
  text-shadow: 5px 5px black;
  text-align: center;
}

h3 {
  font-size: 36px;
  margin-left: 67px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-decoration: none;
 }

h2 {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  padding-top: 150px;
  color: #3792cb;
}

body {
  font-family: 'inherit', sans-serif;
  font-weight: 300;
  background-color: #221f1f;
  color: #FBF9F8;
  display: flex;
  flex-direction: column;
}


article {
  position: relative;
  left: 2%;
  background-color: #221f1f;
  padding: 10px 0;
  max-width: 65%;
  border-radius: 10px;
}

form {
  padding-top: 50px;
}

p {
  width: 120%;
}

a {
  color: lightslategray;
  text-decoration: none;
}

ul {
  position: relative;
  left: 10px;
  margin: 8px 0px 8px 5px;
  background-color: #221f1f;
  padding: 10px 0px 10px 10px;
  max-width: 65%;
  border-radius: 10px;
}

footer {
  background-color: #221f1f !important;
  color: white;
  font-size: 24px;
  padding: 40px 0 100px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0px;
  line-height: 10px;
  margin-top: 80px;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}


/* classes */

.background-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
} 

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.content  {
  position: absolute;
  top: 100px;
  width: 100%;
  min-height: 100%;
  z-index: 900;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.navbar {
  z-index: 1000;
}

.content h1 {
  text-align: center;
  font-size: 65px !important;
  font-weight: 600;
  color: #3792cb;
  padding-top: 15%;
  margin-bottom: 10px;
}

.content h3 {
  text-align: center;
  font-size: 36px;
  letter-spacing: 3px;
  text-shadow: 2px 2px black;
  margin-right: 50px;

}

/* changes color of navbar */
.navbar {
  background-color: #221f1f !important;
  padding: 20px 0;
}

/* text styling for name on navbar */
.name {
  font-family: 'Bangers', cursive;
  font-family: 'Krona One', sans-serif;
  font-family: 'Monoton', cursive;
  font-size: 48px;
  color: #3792cb !important;
  text-shadow: 10px 5px black;
  line-height: 72px;
}

/* text styling for name on navbar */
.white {
  color: #fbf9f8;
  font-size: 36px;
}

/* text styling for links on navbar */
.nav-link {
  font-weight: bold;
  font-size: 24px;
}

.nav-item {
  display: inline;
  margin: 5px 5px 5px 5px;
}

.h2-position {
  padding: 130px 15px 0 15px;
}

.port-header {
  margin: 30px 0 30px 0;
}

.resume-header {
  font-size: 48px;
  margin: 40px auto;
  text-align: center;
}

.about-spacing {
  margin: 50px 0 0 0;
}

.background {
  background-color: #221f1f;
}

/* background image and accompanying text on index.html page */
.bimg{
  color: #FBF9F8;
  text-shadow: 10px 5px black;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  height: 380px;
  width: 100%; 
  background-position: bottom;
}

/* positions the paragraph */
.p-position {
  width: 120%;
  height: auto;
  background-color: #221f1f;
  padding: 30px;
  border-radius: 10px;
  margin-left: 20px;
}

.resume-img {
  height: 200px;
  width: 130px;
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}

.resume-p {
  position: relative;
  left: 2%;
  padding-left: 20px;
  background-color: #221f1f;
  max-width: 65%;
  border-radius: 10px;
}


/* changes the size and position of the image on about.html */
.about-img {
  margin: 30px 10px 10px 10px;
  height: 300px;
  width: 250px;
  float: right;
}


.horiseon {
  height: 300px;
  width: 200px;
  min-width: 200px;
  position: relative;
  display: inline-block;
}



.port-project {
  background-color: #FBF9F8;
  height: 300px;
  width: 200px;
  margin: 70px 0px 0px 80px;
}

.password-title {
  font-weight: bold;
  position: absolute;
  z-index: 999;
  margin: 0 0 30px 80px;
  top: 70%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.8vw;
  min-width: 200px;
}

.horiseon-title {
  font-weight: bold;
  margin-bottom: 50px;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  top: 70%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.8vw;
  min-width:200px;
}

.port-title {
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  top: 55%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.8vw;
  min-width: 200px;
}

.port-title-im {
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  top: 45%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.8vw;
  min-width: 200px;
}

.port-title-pg {
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  top: 45%;
  left: 25%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.8vw;
  min-width: 200px;
}


.git-title {
  text-decoration: none;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  top: 77.7%;
  left: 23.6%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 50%;
  min-width: 200px;
}

.github-title-pg {
  text-decoration: none;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  top: 89%;
  left: 25%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.9vw;
  min-width: 200px;
}

.github-title-hs {
  text-decoration: none;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  top: 89%;
  left: 23.6%;
  background-color: rgba(34,31,31, 0.9);
  color: #3792cb;
  text-align: center;
  width: 14.9vw;
  min-width: 200px;
}


.star-wars-img {
height: 300px;
width: 200px;
margin: 0 50px 50px 0;
}

.weather-img {
  height: 300px;
  width: 200px;
}

/* positioning for placeholder image in the portfolio */
.port-img {
  padding: 60px 0 0 90px;
}

/* changes position of button on contact page */
.btn {
  margin: 0 auto;
}

.landing-title {
  position: absolute;
  z-index: 999;
  top: 40%;
  left: 30%;
  text-shadow: 3px 3px 3px black;
}

/* positioning and styling of grids */
.col-md-3 {
  padding: 30px 0 10px 0;
}

.footer-item {
  display: flex;
  flex-direction: row;
  float: right;
}

/* resizes and colorizes the icons in the footer */
.footer-icon {
  height: 30px;
  width: 30px;
  filter: invert(100%);
  margin: 10px 10px 10px 10px;
}

.resumeBtn {
  width: 200px;
  margin-top: 20px;
  margin-left: calc(50% - 100px);
  background-color: #221f1f;
  color: #3792cb;
  border-radius: 10px;
}

.container {
 float: left;
}
/* makes the text its attached to bold */
.bold {
  font-weight: bold;
}

.shift {
  margin: 0 100px 50px 0;
}

/* makes empty divs, used for spacing, invisible */
.clear {
  opacity: 0%;
}


/* Ids */

/* changes positioning of contact form on contact.html */
#contact-form {
  margin: 0 80px;
}

#myVideo {
  width: 100%;
  height: 100%;
}

/* pseudo classes */

/* changes for hover over name/link in nav bar */
.name:hover {
  transform: scale(1.12);
  opacity: 60%;
}

.nav-link:hover {
  transform: scale(1.12);
  color: white;
}

a:hover {
  color: #3792cb;
  text-decoration: none;
}

/* changes the icon/links in footer */
.footer-item:hover {
  transform: scale(1.1);
  opacity: 80%;
}

.about-img:active {
  transform: scale(1.25);
  margin-right: 20px;
  margin-top: 10px;
}

.resumeBtn:hover {
  transform: scale(1.05);
}

/* media query */

@media only screen and (max-width: 600px) {

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
    width: 420px;
  }
  
  .content {
    z-index: 900;
  }

  .content h1 {
    position: fixed;
    top: 120px;
    left: 20px;
    margin-top: 100px;
    font-size: 48px !important;
  }

  .content h3 {
    position: fixed;
    top: 350px;
    font-size: 24px;
    font-weight: 600 !important;
    margin-left: -10px;
  }

  .navbar {
    z-index: 1000;
  }

  .landing-title {
    position: relative;
    bottom: -50px;
    left: 0;
  }

  .bimg {
    font-size: 24px;
  }

  .git-title {
    width: 200px;
    left: 90px;
  }

  .port-img {
    margin-right: 80px;
  }

  .about-img { 
   position: relative;
   left: 50px;
   
  }

  .col-md-6 {
    margin-top: 10px;
  }
  
  article {
    min-width: 90%;
    width: 90%;
  }

  .resume-p {
    min-width: 90%;
    width: 90%;
  }

  .about-spacing {
    margin-right: 60px;
  }

  .mobile-response {
    margin-bottom: 30px;
    margin-left: 60px;

  }

  .col-md-1 {
    margin-bottom: 30px;
    margin-left: 60px;
  }

  .navbar-brand {
    margin-left: 15px;
  }

  .navbar-toggler {
    margin-right: 20px;
  }

  .nav-link {
    margin-left: 60px;
  }
 
  .navbar-nav {
    margin-right: 50px;
  }

  .footer-item {
    float: left;
  }

}